.cards {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 100px;
  flex-wrap: wrap;
  width: 920px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
