.footer__column-link,
.footer__column-link:visited,
.footer__column-link:active {
  text-decoration: none;
  color: white;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
  transition: opacity 0.2s linear;
}

.footer__column-link:hover {
  opacity: 0.5;
}
