.cards__description {
  margin-top: 16px;
}

.cards__description h5 {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: 200;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
