/* div,
h1,
h3,
h4,
p {
    border: 1px solid black;
} */

.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 239, 239);

}

.header__linkholder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  font-weight: bold;
}


.header__link {
  text-decoration: none;
  color: black;
  margin-left: 100px;

}


.header__rowblocks {
  display: flex;
  flex-direction: row;
  height: 600px;
  margin-left: 100px;
}


.header__text {
  display: flex;
  flex-direction: column;
}

.header__maintile {
  height: 500px;
  display: flex;
  align-items: center;
}

.header__h {
  font-size: 100px;
}

.thisp {
  width: 300px
}

.header__smalltext {
  height: 100px;
}

.header__picture {
  background-image: url("./images/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;

}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.container {
  width: 95%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  width: 200px;
  padding: 10px;
  margin: 25px;

}

.left {
  width: 250px;

  color: blue;
}

.right {
  width: 600px;

}

.bold {
  font-weight: bold;
}
