.section-subtitle {
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  align-self: center;
  z-index: 2;
}

.section-subtitle h3 {
  margin-top: 0;
  margin-bottom: 0;
}
