.khan {
  background-color: lightgray;
  border: 1px solid lightgray;
}

.khan__holder {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  flex-direction: column;
}

.khan__first-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.khan__second-title {
  font-size: 40px;
  margin-bottom: 30px;
}

.khan__main-text {
  width: 65%;
  margin-bottom: 30px;
}

.khan__author {
  font-weight: bold;
  margin-bottom: 10px;
}

.khan__author-source {
  margin-bottom: 30px;
}

.khan__columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.khan__image-holder {
  width: 50%;
  height: 700px;
  overflow: hidden;
}

.khan__buy-link {
  width: 50%;
  color: blue;
}
