.feynman {
  background-color: lightgrey;
  border: 1px solid lightgrey;
}

.feynman__holder {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__heading {
  font-weight: bold;
  font-size: 70px;
  align-self: center;
  text-align: center;
  width: 350px;
  line-height: 4.5rem;
  justify-self: center;
  z-index: 1;
}

.feynman__subtitiles {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
  font-size: 18px;
}


.feynman__subtitile-first {
  width: 200px;
  z-index: 1;
}

.feynman__subtitile-second {
  width: 200px;
  justify-self: center;
  z-index: 1;
}

.feynman__subtitile-third {
  width: 200px;
  justify-self: right;
  color: blue;
  z-index: 1;
}

.feynmann__graphics {
  width: 100%;
  position: relative;
  height: 500px;
}


.feynmann__image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0.1;
}
