.kaufman {
  background-color: black;
  color: white;
  border: 1px transparent black;
  position: relative;
  overflow: hidden;
}

.kaufman__holder {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 90px;
  z-index: 2;
}
