.kaufman {
  background-color: #1f1f1f;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 2;
  box-sizing: border-box;
}
