.kaufman__triange {
  width: 0;
  height: 0;
  border-left: 450px solid transparent;
  border-right: 450px solid transparent;
  border-bottom: 810px solid #2f80ed;
  transform: rotate(-12deg);
  z-index: -1;
  position: absolute;
  right: -210px;
  top: -50px;
}
