.footer__column-links {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 16px;
  outline: 1px solid red;
}

.footer__column-links li:first-child {
  margin-bottom: 10px;
}

.footer__column-links li:last-child {
  margin-top: 10px;
}
