/* -------------------------------------------------------------------------------- */
/* FONTS */
/* -------------------------------------------------------------------------------- */

@import url('fonts.css');

/* -------------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------------- */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__holder/header__holder.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/header/__main-illustration/header__main-illustration.css');
@import url('../blocks/header/__picture-holder/header__picture-holder.css');
@import url('../blocks/header/__row/header__row.css');
@import url('../blocks/header/__square-pic/header__square-pic.css');
@import url('../blocks/header/__subtitle/header__subtitle.css');
@import url('../blocks/header/__text/header__text.css');
@import url('../blocks/header/__title-holder/header__title-holder.css');
@import url('../blocks/header/__title/header__title.css');
/* -------------------------------------------------------------------------------- */

/* LOGO */
@import url('../blocks/logo/logo.css');

/* -------------------------------------------------------------------------------- */
/* DESCRIPTION */
/* -------------------------------------------------------------------------------- */

@import url('../blocks/description/description.css');

/* -------------------------------------------------------------------------------- */
/* TWO-COLUMNS */
/* -------------------------------------------------------------------------------- */
@import url('../blocks/two-columns/two-columns.css');
@import url('../blocks/two-columns/__brief/two-columns__brief.css');
@import url('../blocks/two-columns/__main-text/two-columns__main-text.css');
@import url('../blocks/two-columns/__span-accent/two-columns__span-accent.css');

/* -------------------------------------------------------------------------------- */
/* TECHNIQUES */
/* -------------------------------------------------------------------------------- */
@import url('../blocks/techniques/techniques.css');

/* -------------------------------------------------------------------------------- */
/* CARDS */
/* -------------------------------------------------------------------------------- */
@import url('../blocks/cards/cards.css');
@import url('../blocks/cards/__image/cards__image.css');
@import url('../blocks/cards/__item/cards__item.css');
@import url('../blocks/cards/__title/cards__title.css');
@import url('../blocks/cards/__description/cards__description.css');


/* -------------------------------------------------------------------------------- */
/* SECTION SUBTITLE */
/* -------------------------------------------------------------------------------- */
@import url('../blocks/section-title/section-title.css');
@import url('../blocks/section-subtitle/section-subtitle.css');

/* -------------------------------------------------------------------------------- */
/* SECTION SUBTITLE */
/* -------------------------------------------------------------------------------- */

@import url('../blocks/digits/digits.css');

/* -------------------------------------------------------------------------------- */
/* TABLE */
/* -------------------------------------------------------------------------------- */
@import url('../blocks/table/table.css');
@import url('../blocks/table/__cell/table__cell.css');
@import url('../blocks/table/__cell/__cell_theme_dark/table__cell_theme_dark.css');
@import url('../blocks/table/__heading/table__heading.css');
@import url('../blocks/table/__text/table__text.css');

/* -------------------------------------------------------------------------------- */
/* RESOURCES */
/* -------------------------------------------------------------------------------- */

@import url('../blocks/resources/resources.css');
@import url('../blocks/resources/__holder/resources__holder.css');
@import url('../blocks/resources/__link/resources__link.css');
@import url('../blocks/resources/__logo-zone/resource__logo-zone.css');


@import url('../blocks/video/video.css');
@import url('../blocks/oakley/oakley.css');
@import url('../blocks/feynman/feynman.css');

@import url('../blocks/khan/khan.css');
@import url('../blocks/kaufman/kaufman.css');

@import url('../blocks/footer/footer.css');

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 1.3rem;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* COLORS::backdrop


blue: #2f80ed
black-text: #000000
grey: #f2f2f2

dark-gray #1f1f1f



*/
